@import url(css-OpenSans300400600700400itali.css);
@import url(icon-MaterialIcons.css);
/*@import url(css-Roboto400300500700400italic.css);
@import url('css-Roboto400500700.css');*/
@import url('all.css');

/*
@font-face {
	font-family: 'Harmony Sans SC';
	src: url('../font/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/

@font-face {
	font-family: 'Harmony Sans';
	src: url('../font/HarmonyOS_Sans_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('../font/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

html,
body,
.tiles .tile .element {
	height: 100%;
	overflow: hidden;
}

.element {
	background-color: #f1f1f1;
	padding: 10px 20px;
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.1), Direction=180, Strength=2);
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	margin: 0;
	line-height: 1;
}

img,
video,
iframe {
	max-height: 100%;
	max-width: 100%;
}

input,
textarea {
	outline: none;
	-moz-resize: none;
	resize: none;
	font-family: inherit;
}

ul,
li,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.pointer {
	cursor: pointer;
}

.top>* {
	display: inline-block;
	vertical-align: top;
}

.middle>* {
	display: inline-block;
	vertical-align: middle;
}

.bottom>* {
	display: inline-block;
	vertical-align: bottom;
}

.center {
	text-align: center;
}

.tier {
	width: 33.33%;
}

.doubletier {
	width: 66.66%;
}

.demiw,
.demi,
.half {
	width: 50%;
}

.demih {
	height: 50%;
}

.htier {
	height: 33.33%;
}

.hdoubletier {
	height: 66.66%;
}

.quarter {
	width: 25%;
}

.triple-quarter {
	width: 75%;
}

.taille {
	height: 100%;
}

.width960 {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.width1020 {
	width: 1020px;
	max-width: 100%;
	margin: 0 auto;
}

.width660 {
	width: 660px;
	max-width: 100%;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

table {
	border-collapse: collapse;
	/* Les bordures du tableau seront collÃ©es (plus joli) */
}

.icon-middle,
.icon-middle+* {
	display: inline-block;
	vertical-align: middle;
}

.icon-middle+* {
	margin-left: 5px;
}

.min-40 {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.note {
	color: #ccc;
	font-style: italic;
}

.note.important {
	color: red;
}

input.nostyle,
button.nostyle,
textarea.nostyle {
	border: 0;
	padding: 0;
	background: transparent;
	background: none;
	font-size: inherit;
	text-transform: uppercase;
	color: inherit;
}

.tiles .tile,
.tiles>*>.tile {
	color: white;
	padding-bottom: 20px;
}

.tiles .tile .title {
	font-weight: 700;
	font-weight: 600;
}

.tiles .tile .desc {
	font-size: .8em;
}

.quadruple>*:first-child,
.triple-2-1>*:first-child,
.triple-1-1-1 .tier:first-child {
	padding-right: 10px;
	padding-left: 0;
}

.quadruple>*:last-child,
.triple-2-1>*:last-child,
.triple-1-1-1 .tier:last-child {
	padding-right: 0;
	padding-left: 10px;
}

.quadruple>*,
.triple-1-1-1 .tier:nth-child(2) {
	padding-right: 10px;
	padding-left: 10px;
}

@media screen and (max-width: 1020px) {
	.desktop {
		display: none;
	}

	.demiw {
		width: 100%;
	}
}

@media screen and (min-width: 1020px) {
	.mobile {
		display: none;
	}
}

.none {
	display: none;
}

body {
	margin: 0;
	/*
	font-family: 'Harmony Sans SC', Arial, sans-serif;
	*/
	font-family: 'Harmony Sans', Arial, sans-serif;
	background: url("https://s2.loli.net/2024/04/03/8i7g1mDksM2hqFI.webp");
	background-position: left center;
	background-size: cover;
	color: white;
}

#homepage {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	text-align: center;
	padding: 0px;
	z-index: 100;
}

#terminal {
	height: 27vw;
	width: 45vw;
	background: rgba(29, 31, 32, 0.55);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: .3rem;
	box-shadow: 0 20px 60px 10px rgba(0, 0, 0, 0.33);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
}

#terminal-header {
	border-top-left-radius: .3rem;
	border-top-right-radius: .3rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 30px;
	line-height: 30px;
	background-color: rgba(29, 31, 32, 1.0);
}

#controls {
	float: right;
	margin-right: 8px;
}

#content {
	font-family: 'JetBrains Mono', monospace;
	text-align: left;
	font-size: 0.8rem;
	position: absolute;
	top: 30px;
	left: 13px;
	right: 13px;
	bottom: 0;
	overflow: auto;
}

.green {
	color: #9ADF3A;
}

.yellow {
	color: #FFDE38;
}

.red {
	color: #FF575A;
}

.blue {
	color: #98d7ff;
}

#content>div:last-child {
	margin-bottom: 20px;
}

#content form {
	display: inline;
}

#content input {
	text-transform: initial;
	display: table-cell;
	width: 100%;
}

#content>div,
#content p {
	margin: 10px 0;
}

#content b {
	opacity: .3;
}

::selection {
	background: rgba(255, 255, 255, 255);
}

::-moz-selection {
	background: rgba(255, 255, 255, 255);
}

#copyright {
	font-family: 'JetBrains Mono', monospace;
	font-size: 0.75rem;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	position: fixed;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	z-index: -18;
}

.app-container {
	vertical-align: top;
	margin: 10px;
	width: 100px;
	height: 120px;
	display: inline-block;
}

.app-container:hover {
	background: rgba(29, 31, 32, 0.15);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.app-icon-link img {
	display: block;
	margin: 5px auto;
	width: 85px;
	height: 85px;
	border: none;
	outline: none;
	border-radius: 15px;
}

.app-icon-link:hover img {
	opacity: 0.85;
}

.app-name {
	display: block;
	text-align: center;
	margin-top: 5px;
	color: white;
	font-size: 1rem;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.notification {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 20vw;
	background: rgba(29, 31, 32, 0.55);
	color: white;
	text-align: left;
	border-radius: .3rem;
	box-shadow: 0 20px 60px 10px rgba(0, 0, 0, 0.33);
	padding: 15px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	z-index: 1000;
	min-height: 30px;
}

.notification-header {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.notification-body {
	font-size: 14px;
}

.closebtn {
	position: absolute;
	top: 0;
	right: 10px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.closebtn:hover {
	color: #ccc;
}

@keyframes slideIn {
	0% {
		right: -20px;
		opacity: 0;
	}

	100% {
		right: 20px;
		opacity: 1;
	}
}

@keyframes slideOut {
	0% {
		right: 20px;
		opacity: 1;
	}

	100% {
		right: -20px;
		opacity: 0;
	}
}

.notification.show {
	animation: slideIn 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75) forwards;
}

.notification.hide {
	animation: slideOut 0.5s cubic-bezier(0.75, 0.25, 0.25, 0.75) forwards;
}

.top-bar {
	height: 20px;
	background-color: rgba(29, 31, 32, 0.75);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 15px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.icon-container {
	display: flex;
	margin-left: 15px;
	align-items: center;
	height: 20px;
}

.icon-link {
	display: flex;
	align-items: center;
	margin-right: 15px;
	text-decoration: none;
	color: white;
	min-width: 100px;
	max-width: fit-content;
	border-radius: 5px;
	justify-content: center;
	background: rgba(229, 231, 232, 0.05);
}

.icon-link:hover {
	background: rgba(29, 31, 32, 0.15);
}

.icon-title {
	text-align: center;
	width: 100%;
}

.time-right {
	margin-left: auto;
}

.site-title {
	display: block;
	margin: 0;
	align-items: center;
}

.site-icon {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.site-name {
	vertical-align: middle;
	font-size: 1rem;
	color: white;
}